server:
  port: 8080

spring:
  application:
    name: GATEWAY

  cloud:
    gateway:
      server:
        webflux:
          # 1. Khối định tuyến (routes)
          routes:
            - id: user-service-route
              uri: lb://USER-SERVICE
              predicates:
                - Path=/api/users/**, /api/auth/**

            - id: facility-service-route
              uri: lb://FACILITY-SERVICE
              predicates:
                - Path=/api/facilities/**

            - id: booking-service-route
              uri: lb://BOOKING-SERVICE
              predicates:
                - Path=/api/bookings/**

            - id: notification-service-route
              uri: lb://NOTIFICATION-SERVICE
              predicates:
                - Path=/api/notify/**

          # 2. Khối tự động tìm kiếm (discovery locator)
          discovery:
            locator:
              enabled: true

# Cấu hình để Gateway tự đăng ký với Eureka
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost
    prefer-ip-address: false
